# Palette Extractor Settings
COLORS_PER_IMAGE=8
MAX_IMAGES=3
DOWNLOAD_TIMEOUT=10

# CORS
ALLOWED_ORIGINS=["http://localhost:3000"]

# API KEY
TMDB_API_KEY=
DATABASE_URL=

# Cloudflare
CLOUDFLARE_R2_ACCOUNT_ID=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_BUCKET_NAME=
CLOUDFLARE_R2_CATALOG_KEY=catalog.json
CLOUDFLARE_R2_ENDPOINT_URL=
CATALOG_ADMIN_TOKEN=